# Bağımlılıklar
node_modules/
.pnp
.pnp.js

# Derleme Çıktıları
dist/
build/

# Ortam Değişkenleri (Gizli anahtarlar vb.)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sistem Dosyaları
.DS_Store
Thumbs.db

# Loglar
npm-debug.log*
yarn-debug.log*
yarn-error.log*